.img-poster {
    height: auto;
    margin: auto;
    border-radius: 15px;
    background-color: black;
}

.Container {
    background-color: black;
    padding: 5px;
    height: 100%;
}

.card {
    background-color: #34495E !important;
}

.button {
    text-decoration: none;
    display: flex;
    color:azure;
    justify-content: center;
    
}

.button:hover {
    color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate {
    color: #AEB6BF;
}

.titulo {
    color: #AEB6BF;
    font-size: 24px;
}

.description {
    color: #FBFCFC;
}